Hooks creados por la comunidad:
https://github.com/streamich/react-use


<script>



// El match()método recupera el resultado de hacer coincidir una cadena con una expresión
string.match('string to match')




// Destructuring ECMASCRIPT 6 ES6

import filter_json from '../../components/data/filter.json'
let { filters : { api_filters } } = filter_json






// Instalar versiones de un paquete con NPM
// npm install socket.io@0.9.16
// npm install -s d3@3.5.13







~ ~ ~ ~ ~ ~
// Formas para exportar Funciones
// https://stackoverflow.com/questions/33178843/es6-export-default-with-multiple-functions-referring-to-each-other/33179024#33179024


// Por defecto angular CLI crea proyectos en css. Si quieres usar sass/scss debes especificar el flag --style:

$ ng new myapp --style=scss


// Crearemos un servicio con la librería Underscore.js para angular 4
npm install underscore
guia: http://anthonygiretti.com/2017/10/09/using-underscorejs-in-angular4-project/


// instalar SSH
// El cliente ssh se debe iniciar por medio de putty, con los datos del servidor remoto root@IpRemoteServer
// ng serve --host 149.28.60.180 --post 4200 --disable-host-check 1

// Copiar todo y pegar en carpeta destino el contenido
  cp -r * /var/www/html

// Elimiar directorio completo por terminal linux
rm -R nombre_carpeta

// para obtener permisos de usuario en terminal linux del server
// You can run this as root

npm config set user 0
npm config set unsafe-perm true
npm install -g package

// para ejecutar ng build y llevar a producción

// agregar en los scripts del package.json

"scripts": {
  "build": "ng build",
  "build:client": "ng build --environment=prod "
},

// en el archivo: ./package.json pasar de devdependencies a dependencies(production)

"@angular/cli": "1.6.6",
"@angular/compiler-cli": "^5.2.0",
"babel-cli": "^6.26.0",
"babel-preset-env": "^1.6.1",

// en el archivo tsconfig.json modificar:
"target": "es2017",

// en el archivo ./src/tsconfig.app.json
"module": "commonjs",

// eso debería ser suficiente para correr el ng build

// EN el servidor instalar librería http-server
npm install -g angular-http-server

// ---deploy app front---

// crear build en carpeta dist
ng build --prod

// ejecutar servidor de archivos en carpeta dist en background(&)
angular-http-server --path dist -p 443 --silent &
angular-http-server --path dist -p 443 --silent > ./output.log &

// en la librería http-server se inicia así...
http-server dist/ -p 443 > ./output.log &

// obtener listado de procesos de angular-http-server
ps -aux | grep angular-http-server

// eliminar proceso por id
kill <proceso_id>


// instalar http server
npm install -g http-server

//para ejecutar la librería podemos hacerlo con:

http-server
// recuerda correr el comando en la raiz del directorio de producción "dist", acceder desde el navegador por la ip: "127..."
// script:

"build:server": "ng build --prod & http-server ./dist"

// consulta http desde el servicio

// primero en el app.module.ts importar lo siguiente
import { HttpModule } from '@angular/http';

imports:[HttpModule]

// en el servicio
import { Http, Headers, Response } from '@angular/http';
import { Observable } from 'rxjs';
import 'rxjs';

constructor(
  public http: Http
) {
  this.urlApiCMC = 'https://api.coinmarketcap.com/v2/ticker/';
}

getProjectDetailCmc(coinId:string): Promise<void | any>{

// const headers = new Headers({ 'Authorization' : this.getToken()});
  const headers = new Headers({ 'content-type': 'text/plain' });
  var url = `${this.urlApiCMC}${coinId}/?convert=ETH`;

  console.log('url:', url);

  return this.http.get(url, {headers: headers})
              .toPromise()
              .then(response => {
                return response.json()
                // console.log('respuesta: ', response);
              })
              .catch(this.handleError);
}

// consulta http desde el componente

// http get
    return this.feedService.getProject(params.id)
    .then((projecto:Project)=>{})


    // http post
    return this.feedService.likeProject(this.project.id)
        .subscribe(
        () => this.openSnackBar('¡Me gusta este proyecto!', ''),
        error => this.feedService.handleError(error)
      );

// agregar fuente manual
@font-face {
font-family: mosk;
src: url('../assets/fonts/Mosk Bold 700.ttf');
}

h2{
font-family: mosk !important;
}


for (var [key, value] of Object.entries(obj)) {
    console.log(key + ' ' + value); // "a 5", "b 7", "c 9"
}


// comando angular cli CLI

ng generate service [name]


// formas de importar librerias
import qs = require ('querystringify');
import 'rxjs/add/operator/map';
import { Observable } from 'rxjs/Observable';
import * as actions from '../../../actions'



// data bilding bild
1.[src]="user.cover"
2.src="{{user.cover}}"


// output Output Input input
@Output() volver = new EventEmitter();
@Input() wallets:Wallet[];



// detectar cambio en input change ngmodel
<input matInput placeholder="¿Desde que país se hará el envío?"  [matAutocomplete]="auto" ngModel name="senderCountry" (ngModelChange)="elijePais('state.name')">



// Directiva calculo calcular en tiempo real

<input matInput placeholder="Ether Mount" value="1" class="mountEt"  #box>
<p class="resulSymbol">{{project.simbol}}</p>
<p class="resulSymbol">{{box.value*project.amountPerEth}}</p>

// directiva ngModel
[(ngModel)]="projects.type"

// APLICAR asincronía en la carga de elementos en el html con la directiva *NgFor
*ngFor="let unidad of arregloFuente | async"


// Funciones async asincronas aplicada a un objeto

delayMessage: async () =>{
   const message = await waitTime;
   console.log(message)
}


// librería de angular para utilizar los parametros query param de la url
import { ActivatedRoute, Router } from '@angular/router';
private route: ActivatedRoute,
      this.code = this.route.snapshot.queryParams.code;

// Librería angular para direccionar rutas/navegación de usuario
      private router: Router,
      this.router.navigate(['/'])


// METODOS localStorage extraer dato array
const { userName } = JSON.parse(localStorage.getItem('user'));
this.visits = await parseInt(localStorage.getItem('visitas'));
localStorage.setItem('visitas', JSON.stringify(elementoAenviar));



// despues de pasar por encima, si el menu horizontal esta abierto, a los 5 segundos se cerrara automaticamente
   $("#Mhorizontal").mouseleave(function(){
      if ($("#Mhorizontal").hasClass("gn-open-all")) {
       setTimeout(function(){
          $("#Mhorizontal").removeClass("gn-open-all");
           $("#Mhorizontal").removeClass("abrirmenu");
                }, 500);
       }
   });



  // Sumar días y convertir fecha a ISO
   var event = new Date('05 October 2011');
  event.setDate(event.getDate()+days);
   console.log(event.toISOString());

  // Sacar diferencias entre dos fechas
   // Puedes obtener los milisegundos entre las dos fechas y pasarlo a días :
   var fechaInicio = new Date('2016-07-12').getTime();
   var fechaFin    = new Date('2016-08-01').getTime();

   var diff = fechaFin - fechaInicio;

   console.log(diff/(1000*60*60*24) );

   diasEnUnMes(mes, año) {
   	mes = mes.toUpperCase();
   	var meses = ["ENERO", "FEBRERO", "MARZO", "ABRIL", "MAYO", "JUNIO", "JULIO", "AGOSTO", "SEPTIEMBRE", "OCTUBRE", "NOVIEMBRE", "DICIEMBRE"];
   	return new Date(año, meses.indexOf(mes) + 1, 0).getDate();
   }


                    // (1000*60*60*24) --> milisegundos -> segundos -> minutos -> horas -> días

                    setTimeout(()=>{this.cerrarModal()}, 500)




                    //Esta es la forma correcta de usar el setTimeout sin perder el scope global (valor de las variables del entorno general)
                    var x = setInterval(()=> {},500)
                    var x = setTimeout(()=> {},500)





window.removeEventListener('click', e => eventHandle(e))

useEffect(() => {
    window.addEventListener('click', (e => eventHandle(e)))
    return () =>{
      window.removeEventListener('click', e => eventHandle(e))
    }
}, [])


const eventHandle = (e) => {
  // console.log('eventHandle', e.target.dataset)
  if(!e.target.dataset.drop_down){
    // console.log(filterSwitch)
    setFilterSwitch(false)
  }

  if(e.target.dataset.modal_close){
    props.setItemActive(false)
    return props.action.modal_action('hide')
  }
}



//mostrar cantidad de decimales fracciones
var n = num.toFixed(0);

// Convertir a booleano
var x = false;
Boolean(x);       // returns false

//convertir a cadena
const cadena = String(payload);
//seleccionamos caracteres de una cadena en función a su indice
.substr(1,2)

// convertir a numero entero
parseInt()
// https://developer.mozilla.org/es/docs/Web/JavaScript/Referencia/Objetos_globales/Number/parseFloat
// https://developer.mozilla.org/es/docs/Web/JavaScript/Referencia/Objetos_globales/parseInt


// convertir a json o a string JSON

var o = JSON.parse(s);
var json = JSON.stringify(o);

// reemplazar replace un caracter por otro dentro de un string
string.replace(' ', '-')
// en este ejemplo reemplazamos los espacios por guiones
let nRoot = `countries.${country}.levels.${verify_root.replace(/"/g, '')}` //retiramos las "" del string pasandole una expresión regular al metodo replace string

~~~~~~~ guion
// expresion regular para eliminar espacios al inicio y final de un string
string.replace(/^\s+|\s+$|\s+(?=\s)/g, "")

let nRoot = verify_root.replace(/"/g, '') //retiramos las "" del string pasandole una expresión regular al metodo replace string

// https://developer.mozilla.org/es/docs/Web/JavaScript/Guide/Regular_Expressions




// hacer una consulta asincronica por medio de una promesa para convertir un objeto en un array desde firebase
// convertir objeto array arreglo


this.getUserById(data.user.uid) //se hace una petición, esta linea no tiene importancia
.subscribe(async (user)=>{ //retornamos una arrow function asyncrona

this.user = user;

let wallets:any = await this.consultaWallets(this.user.uid);

this.user.wallets = wallets;
localStorage.setItem('user', JSON.stringify(this.user));
this.router.navigate(['/home']);
this.loading = false;
})


consultaWallets(idUser){

  return new Promise((resolve, rej)=>{
  // consultar y convertir un objeto en un array desde firebase
    this.angularFireDatabase.object(`/users/${idUser}/wallets`).valueChanges().subscribe((wallets:any)=>{

  // validamos que wallets contenga atributos, si no los contiene nos devuelve un false como respuesta a la promesa
  if(!wallets){return resolve(false)}
  // forma de recorrer un objeto: recorrer objeto
      Object.keys(wallets).forEach((wallet_id) => {
      // lo mapeamos y modelamos
        var nwallet = new Wallet(
          wallets[wallet_id].type,
          wallets[wallet_id].address,
          wallets[wallet_id].name,
          null,
          null,
          wallets[wallet_id].userId,
          wallets[wallet_id].id
        );
        // y lo agregamos a un array para ser leido posteriormente
        this.wallets.push(nwallet);
      });
      // retornamos como respuesta a la promesa el array de wallets
      return resolve(this.wallets);
    })
  })
}

// otra forma de gestionar promesas promesa promise promises
const promesa1 = this.angularFireDatabase.object(`users/${uid}/transactionHistory/${idTransaction}`).remove();

promesa1
  .then(()=>{
    return new Promise((resolve, reject)=>{
        this.angularFireDatabase.object(`transactions/${idTransaction}`).remove();
        return resolve(true)
    })
  })



recorrer objeto for in object

var person = {fname:"John", lname:"Doe", age:25};
for (let x in person) {
  console.log(person[x], x)
}












let inds = this.usuario.subscriptions.indexOf(this.project.id);
this.usuario.subscriptions.splice(inds,1)



// filtros | pipes
{{ price | currency }} //mostrmos el valor numerico en Dolares

// https://www.w3schools.com/angular/angular_filters.asp


//pipe fechas para darle formato a las fechas
npm install --save angular2-moment

// hacer la fecha legible por medio de javascript
date.toLocaleTimeString()

otro ejemplo con

let fecha = new Date('fecha')
let options = { year: 'numeric', month: 'long', day: 'numeric' };
fecha.toLocaleDateString("es-ES", options)
// agregamos el modulo en imports en app.module

// Uso en HTML
{{item.startDate | amLocale:'es' |  amLocal |  amDateFormat:'MMMM D'}}


//BUSCAR  find
let result = []
state.data.coins.filter((item)=>{
                  return item.name.includes("valor a buscar") && result.push(item)
                })
// El filter()método crea una nueva matriz con todos los elementos que pasan la prueba implementada por la función proporcionada.
// si el item incluye algo que llega en el query, agreguelo a la matriz
// https://medium.com/@bjsalcedo/m%C3%A9todos-de-un-arreglo-en-javascript-filter-foreach-map-y-find-707b3bfd122f

// Función busqueda javascript buscar find

var userUpdate = usuarios.find(item=>item._id === user_id); //metodo para encontrar un dato en un array

// eliminar item array indice index find delete arreglo

// Puedes usar la siguiente solución: primero que nada buscas la posición del elemento a eliminar por ejemplo:

var array = [3, 5, 9];
var index = array.indexOf(5);

// con el siguiente metodo buscas un dato por su propiedad y te devuelve el index del array en el que se localiza el dato
array.indexOf(array.find(arrayItem=>arrayItem.propiedad === criterioBusqueda))

// luego eliminas ese elemento usando splice:

if (index > -1) {
   array.splice(index, 1);
}

// desde donde inicia la animación del elemento
transform-origin: center top;
transform-origin: 0% 100%;
// http://animista.net/play/basic/scale-up/scale-up-bl

// animación animate animacion
// transform-style: preserve-3d;
// transform: perspective(2000px) rotateY(0deg);

// la propiedad backFace, no muestra la cara trasera del elemento al girarlo
// backface-visibility:hidden;
// 3d information brutality
// https://3dtransforms.desandro.com/3d-transform-functions

// herramienta brutal
// http://animista.net/play/basic/rotate-90/rotate-90-cw

// animations:
// http://animista.net/play/attention/jello/jello-horizontal

// intros
// http://animista.net/play/entrances/slide-in-elliptic/slide-in-elliptic-top-fwd

// flip
// http://animista.net/play/basic/flip-2/flip-2-ver-right-bck

// background effects
// https://codepen.io/collection/ABNwxq/
// https://codepen.io/tutsplus/pen/bWKMoK
// https://codepen.io/Eslam-Yahya/pen/MvKZKj
// pixel screen
// https://codepen.io/tobiasdev/pen/jrEaYv

// senda
// https://codepen.io/Thibka/pen/dvMOyw
// https://codepen.io/art0rz/pen/QNQZQN
// https://codepen.io/caraujo/pen/RWRbXQ

// particles
// https://codepen.io/gmihalios/pen/XmNVpp

// loader
// https://codepen.io/Lewitje/pen/BNNJjo
// https://codepen.io/vubon/pen/bdmvbY


// ?filter[include]=user


.plaatzi{
  width: 100px;
  height: 100px;
  position: relative;
  margin: 40px auto;
  transform: rotate(45deg);
  animation-name: logo;
  animation-duration: 1s; /* Duración total de la animación */
  animation-delay: 1s; 	/* Tiempo que transcurrido para que la animación inicie */
  animation-iteration-count: 2; 	/* 'infinite' numero de veces que quiero que se repita mi animación */
  animation-direction: reverse;/* La animación se ejecuta de 1000% a 0% */
  animation-direction: alternate;/* La animación se ejecuta de 0% a 100% y de 100% a 0%*/
  animation-fill-mode: forwards;/* la animación se queda en como termina la animación, es decir en el 100%*/


  /* CAMBIAR EL SUAVIZADO DE MI ANIMACIÓN*/
  animation-timing-function: ease;
  animation-timing-function: ease-in;
  animation-timing-function: ease-out;
  animation-timing-function: ease-in-out;
  animation-timing-function: linear;
  animation-timing-function: cubic-bezier(1,1,1,1);

  /*sitio para calcular curva de bezier http://cubic-bezier.com/#.17,.67,.83,.67*/
}

@keyframes bell{
  0%{
    transform: rotate(3deg);
  }
  100%{
    transform: rotate(0deg);
  }
}


// filtros css filter
https://blog.endeos.com/8-filtros-css-para-imagenes-que-todo-disenador-web-deberia-conocer/
// sombra css
box-shadow: 0 0 20px #4f9;

// calcular altura anchura ancho alto width height de un elemento con js JavaScript

//    document.getElementById('map').clientWidth
//    document.getElementById('map').clientHeight


input:out-of-range {
  border: 2px solid red;
}

input:in-range {
  border: 2px solid yellow;
}
</style>
</head>
<body>

<h3>A demonstration of the :in-range selector.</h3>

<input type="number" min="5" value="7">

// el padding no afecta el tamaño del contenedor
box-sizing: border-box;


// css input date style

// .inputElement3[type="date"]::-webkit-inner-spin-button {
//   display: none;
// }
// .inputElement3[type="date"]::-webkit-calendar-picker-indicator {
//   opacity: 0;
// }
// .inputElement3[type="date"]::-webkit-clear-button {
//     display: none;
// }
// .inputElement3[type="number"]::-webkit-inner-spin-button {
//   display: none;
// }











//solucionar error en angular 4 para los iframe embed video  de youtube
import { Component,Input,OnInit} from '@angular/core';
import {DomSanitizer,SafeResourceUrl,} from '@angular/platform-browser';

@Component({
    moduleId: module.id,
    selector: 'player',
    templateUrl: './player.component.html',
    styleUrls:['./player.component.scss'],
})

export class PlayerComponent implements OnInit{
    @Input()
    id:string;
    url: SafeResourceUrl;
    constructor (public sanitizer:DomSanitizer) {
    }
    ngOnInit() {
        this.url = this.sanitizer.bypassSecurityTrustResourceUrl(this.id);
    }
}

//navegar router link href
[routerLink]="['/']"

//Estilos css para definir imagen de fondo de un elemento del DOM
background-image: url("../../../../assets/fondodetalle.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;

      background-attachment: fixed;



// mask-imame mascara imagen mascaras mask
// https://getflywheel.com/layout/css-svg-clipping-and-masking-techniques/
#masked {
width: 500px;
height: 500px;
background-color: #8cffa0;
-webkit-mask-image: url(./iso.png);
/*-webkit-mask-image: url(iso.png), linear-gradient(rgba(0, 0, 0, 1.0), transparent);*/
-webkit-mask-position: 50% 50%;
-webkit-mask-repeat: no-repeat;
-webkit-mask-size: cover;
// defina el ancho / alto de la mascara
-webkit-mask-size: 300px auto;




.example-mask {
  mask-image: url(https://linktoimage.com/browser-icon-01.svg);
  webkit-mask-image: url(https://linktoimage.com/browser-icon-01.svg);
  mask-mode: alpha;
  webkit-mask-mode: alpha;
  mask-repeat: no-repeat;
  webkit-mask-repeat: no-repeat;
  mask-size: 200px;
  webkit-mask-size: 200px;
  mask-position: center;
  webkit-mask-position: center;
}

}

      // Obtener variables de un objeto
      const { tittle, description, icon } = req.body

    //DIRECTIVAS Angular 4 estilos css ##########
     [ngStyle]="{'font-size.px':tamaño}"  //forma1
     [ngStyle]="{'font-size':tamaño+'PX'}"  //forma2
     [style.font-size.px]="tamaño"  //forma3
     [ngStyle]="{'width': (project.passedDays>project.totalDays) ? '100%' : project.percentagePassed+'%' }"
     [ngStyle]="{'color': (item.status == 'dropped') ? 'red' : 'green' }"
     [ngStyle]="{'margin-bottom': (feedTemplate[paso].title=='¡Hola!') ? '100px' : '10px' }"
    //tamaño ES una variable del componente.ts

    //condicional para añadir clase angunlar
    [class.active]="statusModal === 'active'"
    [class.vip]="contenidoModal=='VIP'"

    // condicional para agregar estilos en react estilos react estilo react
    style={{ display: condicion ? 'initial': 'none'}}
    ej: style={{ display: var === "resultado" ? 'initial': 'none'}}

    // cambiar estado state dinamico dinamic state en react
    const name = event.target.name
    const value = event.target.value

    this.setState({[name]:value})


    // Evitar que se refresque la pagina al hacer enter en submit
    handleSubmit = (event) =>{
      event.preventDefault()
    }




    ---------------------
    // directiva para agregar un atributo bajo una condició
    [attr]="condición"
        // ejemplo
         [disabled]="var == true";

    //Angular 4, si la variable status es igual a active entonces se aplicara la clase desplegado, sino se aplicara la clase disabled
    [ngClass]="(status=='active') ? 'desplegado' : 'disabled'"

    //interprete de HTML Angular
    <p [innerHTML]="variable TypeScript"></p>

// hacer una busqueda dentro de una matriz
return  this.liked = this.usuario.likeProjects.find(proyecto => proyecto === this.project.id);

// FUNCIÓN PARA DAR formato de numero formato numero number_format convertir
// moneda
number_format(amount) {

    amount += ''; // por si pasan un numero en vez de un string
    amount = parseFloat(amount.replace(/[^0-9\.]/g, '')); // elimino cualquier cosa que no sea numero o punto

    amount = '' + amount.toFixed(0);

    var amount_parts = amount.split('.'),
        regexp = /(\d+)(\d{3})/;

    while (regexp.test(amount_parts[0]))
        amount_parts[0] = amount_parts[0].replace(regexp, '$1' + ',' + '$2');

    return amount_parts.join('.');
}



// Hacer foco en un campo de la página usando Javascript focus input enfocar iniciar
function foco(idElemento){
  document.getElementById(idElemento).focus();
 document.getElementById(idElemento).select();
}

// React ----------------------------------
onBlur={this._onBlur}
onFocus={this._onFocus}

//texto degradado
texto{
    background: linear-gradient(yellow,red);
    background: linear-gradient(to right, red , yellow); //gradiente hacia la derecha
    background: linear-gradient(to bottom right, red, yellow); //gradiente diagonal inferior derecha
    background: linear-gradient(-90deg, red, yellow); //gradiente con inclinación definida en grados
     background: linear-gradient(red, yellow, green); //gradiente de tres colores
     background: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1)); //gradiente en rgb
     background: radial-gradient(red, yellow, green); //gradiente radial
     background: radial-gradient(circle, red, yellow, green); //gradiente radial con circulo
       background: radial-gradient(farthest-side at 90% 50%,#2B3742, #101418, #101418);
  	-webkit-background-clip: text;

    // blue:
    //     background: linear-gradient(to bottom right, #014c7d, #0198ff);
    //
    // gray scale:
    //     background: radial-gradient(farthest-side at 80% 45%,#222c35, #101418);

  	color: transparent;
// texto degradado
    background: -webkit-linear-gradient(#eee, #333);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
}

//borde degradado yuuuhuuuuu
border-bottom: 6px solid transparent;
border-image: linear-gradient(to right, red , yellow);
border-image-slice: 1;


// cambiar color barra dependiendo cantidad avanzada




//TYPESCRIPT

ngOnInit(){

  this.fondo();
}

anchito:number = 81;
carinito;

fondo(){

  if(this.anchito <= 70){
    return this.carinito = 'linear-gradient(to bottom right, #09E9A3, #2FAEC0)';
  }else if(this.anchito <= 80){
    return this.carinito = 'linear-gradient(to bottom right, #09E9A3, yellow)';
  }else if(this.anchito <= 90){
    return this.carinito = 'linear-gradient(to bottom right, yellow, #ff6300)';
  }else if(this.anchito <= 100){
    return this.carinito = 'red';
  }
}

// html
<div id="progresadito" [style.width.%]="anchito" [style.background]="carinito">

</div>

// fin cambiar color barra


//estilos al scrollbar
.infoUser2::-webkit-scrollbar {
  width: 7px;
}
.infoUser2::-webkit-scrollbar-thumb {
  background: #475A68;
}





// parametros url

query-string
import queryString from 'query-string';

    let url = history.location.search;
    let params = queryString.parse(url);





//metodo switch

switch(expression) {
    case n:
        code block
        break;
    case n:
        code block
        break;
    default:
        code block
}

// espacio en html espace html
&nbsp;


//Crear servicio global para comunicar cualquier componente sin importar jerarquría

npm i -s rxjs

// global.service.ts

import { Observable } from 'rxjs/Observable';
import { Injectable } from '@angular/core';
import { Subject } from 'rxjs/Subject';

@Injectable()
export class SharedService {
    // Observable string sources
    private emitChangeSource = new Subject<any>();
    // Observable string streams
    changeEmitted$ = this.emitChangeSource.asObservable();
    // Service message commands
    emitChange(change: any) {
        this.emitChangeSource.next(change);
    }
}




// HIJO.component.ts
//componente que emite  - envía información
import { Component} from '@angular/core';

@Component({
    templateUrl: 'child.html',
    styleUrls: ['child.scss']
})

export class ChildComponent {
    constructor(
        private _sharedService: SharedService
    ) { }

onClick(){
  this._sharedService.emitChange('Data from child');
 }
}



// parent.component.ts
// Componente que escucha la información que llega por el canal
import { Component} from '@angular/core';
@Component({
    templateUrl: 'parent.html',
    styleUrls: ['parent.scss']
})

export class ParentComponent {
    constructor(
        private _sharedService: SharedService
    ) {
          this._sharedService.changeEmitted$.subscribe(
        text => {
            console.log(text);
        });
      }
}


// dirigir scroll a un objetivo del dom scroll jquery

function ubicar(id){

           var elemento5 = $(id);
           var posicionbar = elemento5.position();
           var altura=posicionbar.top;
           console.log(elemento5);

           $('body, html').animate({
             scrollTop: altura + 600
           }, 700);
}




// Llamar un MatDialog ####################################################
import {Component} from '@angular/core';
import {MatDialog} from '@angular/material';

/**
 * @title Dialog with header, scrollable content and actions
 */
@Component({
  selector: 'dialog-content-example',
  templateUrl: 'dialog-content-example.html',
  styleUrls: ['dialog-content-example.css'],
})
export class DialogContentExample {
  constructor(public dialog: MatDialog) {}

  openDialog() {
    const dialogRef = this.dialog.open(DialogContentExampleDialog, {
      height: '350px'
    });

    dialogRef.afterClosed().subscribe(result => {
      console.log(`Dialog result: ${result}`);
    });
  }
}

@Component({
  selector: 'dialog-content-example-dialog',
  templateUrl: 'dialog-content-example-dialog.html',
})
export class DialogContentExampleDialog {}


// HTML
<button mat-button (click)="openDialog()">Open dialog</button>

// app.modules


@NgModule({
  import { ProjectListComponent } from './admin/lists/projectList/projectList.component';

  declarations: [
    DialogContentExampleDialog
],
entryComponents: [
  DialogContentExampleDialog
],

})


// doc https://stackblitz.com/angular/xkvpprggdbl?file=app%2Fdialog-content-example.ts

// agregar autocompletado paises form formulario country autocomplete

// en el app.module.ts importamos lo siguiente
import { FormsModule, ReactiveFormsModule } from '@angular/forms';

imports:[FormsModule]


// en el html colocamos lo siguiente

<mat-form-field class="example-full-width">
  <input matInput placeholder="State"  [matAutocomplete]="auto" ngModel name="country">
  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let state of filteredStates | async" [value]="state.name">
      <img class="example-option-img" aria-hidden [src]="state.flag" height="25">
      <span>{{state.name}}</span> |
      <small>Population: {{state.population}}</small>
    </mat-option>
  </mat-autocomplete>
</mat-form-field>


// en el .ts del componente iría esto:

import { NgForm, FormControl } from '@angular/forms';


  stateCtrl = new FormControl();
  filteredStates: Observable<State[]>;

  constructor(){
    this.filteredStates = this.stateCtrl.valueChanges
      .pipe(
        startWith(''),
        map(state => state ? this._filterStates(state) : this.states.slice())
      );
  }

  states: State[] = [
    {
      name: 'Arkansas',
      population: '2.978M',
      // https://commons.wikimedia.org/wiki/File:Flag_of_Arkansas.svg
      flag: 'https://upload.wikimedia.org/wikipedia/commons/9/9d/Flag_of_Arkansas.svg'
    }
  ];


  private _filterStates(value: string): State[] {

    const filterValue = value.toLowerCase();  //convertir a minusculas minuscula tolowercase
    cadena.toUpperCase(); //CONVERTIR A MAYUSCULAS mayusculas touppercase to uper case toupercase
    // para pasar a mayusculas::::
    .toUpperCase()
    return this.states.filter(state => state.name.toLowerCase().indexOf(filterValue) === 0);
  }

// fin autocomplete component ###################################################################################################


// modelos de datos #############################################################################################################

export class CMC{
	constructor(
    	public id?: number,
			public circulating_supply?: number,
			public max_supply?: string,
			public name?: string,
			public quotes?: {ETH:coinCMC, USD:coinCMC},
			public symbol?: string,
			public total_supply?: string,
		){}
}


// llenar modelo

question: Question = new Question(
  'Esta es una nueva pregunta sobre Android',
  'Miren, tengo una duda con una aplicación que estoy escribiendo para Android...',
  new Date,
  'devicon-android-plain'
);


// crear array de prueba para el modelado orientado a objetos

const q = new Question(
  '¿Cómo reutilizo un componente en Android?',
  'Miren, esta es mi pregunta...',
  new Date(),
  'none'
);

questions: Question[] = new Array(10).fill(q);


// FORUMULARIOS formularios

// app.module.ts

import { FormsModule } from '@angular/forms';

imports:[FormsModule]


//.ts en el typescript file

import { NgForm } from '@angular/forms';

  onSubmit(form:NgForm){
      form.value.title
    );


//.html en el htmll

<form (ngSubmit)="onSubmit(f)" #f="ngForm">

        <mat-form-field class="example-full-width">
            <input matInput placeholder="Titulo Anuncio" name="title" ngModel>
        </mat-form-field>

<button type="submit" class="ctA degradadoBack">Crear Anuncio</button>

</form>


ramas github gitlab manejo de ramas
//visualizo las ramas
git branch

//creo una nueva rama
git branch 'nombre_nueva_rama'

//me cambio a nueva rama
git checkout 'nombre_rama'


//crea una nueva rama y me cambio a ella
git checkout -b 'nombre_nueva_rama'

//visualizo el estado de las ramas
git log --oneline --decorate
git log --oneline --decorate --all
git log --oneline --decorate --all --graph


// emailjs
https://www.hoclabs.com/2018/03/17/emailjs-envio-de-correos-desde-javascript/
http://www.emailjs.com/docs/rest-api/send/

// media query resposive css
@media screen and (max-width: 900px) and (min-width: 600px), (min-width: 1100px) {}
@media screen and (max-height: 1024px) {

// viewChild referencia html conectar

#slideshow
@ViewChild('amountUsd')
montousd:ElementRef

ngOnInit(){
  console.log("title:", this.title.nativeElement);
}


// data binding angular directiva validar visualizar bind
{{panelOpenState ? 'open' : 'closed'}}

// Hacer Toggle en angular toggle ternario
<div (click)="hito1 = !hito1">
  {{(!hito1)? 'Es falso' : 'Es verdadero'}}
</div>

// REACT TERNARIO

// Formularios forms form
const form = new FormData(document.getElementById('searchBar'))
const search = form.get('search')



// Hacer una condición que solo se puede cumplir
{
condicion &&
    <div>contenido que se renderiza si se cumple la condición</div>
}

// Hacer una condición que muestra algo si se cumple, o muestra algo si no se cumple

{
  condicion ?
          <div>contenido que se renderiza SI SE CUMPLE la condición</div>
  : // a partir de aqui se muestra si la condición no se cumple
          <div>contenido que se renderiza si NO SE CUMPLE la condición</div>
}


// FIN TERNARIO---------------------------------------------



// validar input para no permitir escribir caracteres especiales solo numeros number

check(e){
      var tecla = (document.all) ? e.keyCode : e.which;

      //Tecla de retroceso para borrar, siempre la permite
      if (tecla == 8) {
          return true;
      }

      // Patron de entrada, en este caso solo acepta numeros y letras
      var patron = /[A-Za-z0-9]/;
      var tecla_final = String.fromCharCode(tecla);
      return patron.test(tecla_final);
}

// en el componente html:

<input matInput ngModel placeholder="Ether Amount" value="1" (keypress)="check($event)">


// metodo para copiar texto a portapapeles
copy = (payload) =>{
  let aux = document.createElement("input")
  aux.setAttribute("value", payload.target.title)
  console.log('ahora aux vale esto:::', aux)
   document.body.appendChild(aux);
   aux.select();
   document.execCommand("copy");
   document.body.removeChild(aux);
}

// cambiar color placeholder color placeholder
.inputElement3::placeholder { color: #50667a4d !important; }
.inputElement3::-webkit-input-placeholder { color: #50667a4d !important; } /* WebKit */
.inputElement3::-moz-placeholder { color: #50667a4d !important; } /* Firefox 19+ */


// estilos input number quitar number estyles

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] { -moz-appearance:textfield; }



paletas colores

deg verde
#7e9cb7
#00ccac


deg azul
#3A7BD5
#00d2ff
#3a7bd5
</script>


// simular click
let inputFile = document.getElementById("TFileUpload");
inputFile.click()




<script>






</script>























data set react


 e.target.dataset.filter
 <p onClick={handleAction} data-filter="all" >Todo</p>



// for sintaxis

 for(let data of historical_data){
   console.log('data of historical data: ', data)
 }


// Etiqueta <a/>
<a href="https://t.me/Coinsendaoficial" target="_blank" rel="noopener noreferrer">




styled-components
${props => props.active && css`
  border: 1px solid #00D2FF;
  z-index: 5;

  `}



cursor css
// inhabilitar eventos del cursor
pointer-events: none;


reset | reiniciar css del elemento a su valor inicial
.fix-this {
    all: unset;
}



// SENTRY
// import * as Sentry from '@sentry/browser';
// Sentry.init({dsn: "https://5cae2e853bb1487cbd40c223556d3760@sentry.io/1478048"});
// Sentry.captureException(error);


React.memo
https://dmitripavlutin.com/use-react-memo-wisely/


































 //
